PORT=3000

SUPABASE_URL="YOUR_SUPABASE_URL"
SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY"
SUPABASE_SERVICE_ROLE_KEY="YOUR_SUPABASE_SERVICE_ROLE_KEY"

JWT_SECRET=replace_with_a_long_random_string

FRONTEND_URL=http://localhost:5173

MERCHANT_ID=your_merchant_id
SECURED_KEY=your_secured_key